.paginator {
  .page {
    width: 39px;
    height: 39px;
    border: 1px solid var(--text);
    border-right: 0;
    background: var(--background-color);
    text-align: center;
    cursor: pointer;
    color: var(--text);
    font-weight: 500;
    text-transform: uppercase;

    &:nth-last-child(1) {
      border-right: 1px solid var(--text);
      border-radius: 0 20% 20% 0;
    }

    &:nth-child(1) {
      border-radius: 20% 0 0 20%;
    }

    &:not(.pageActive):hover {
      background: var(--hoverPage);
    }
  }

  .pageActive {
    @extend .page;
    background: var(--text);
    color: var(--background-color);
  }

  .disabled {
    border: var(--borderDisabled);
    border-right: 0;
    background: var(--background-color);
    pointer-events: none;

    &:nth-last-child(1) {
      border-right: var(--borderDisabled);
    }
  }

  .icon {
    fill: var(--text);
  }

  .iconDisabled {
    cursor: default;
    fill: var(--line);
  }
}
