.paintings {
  position: relative;
  width: 950px;
}

.paintingImage {
  min-width: 360px;
  min-height: 275px;
  background-color: lightblue;
  margin-right: 20px;
  margin-bottom: 20px;
}
.name {
}

.nameBlog {
  /*  position: absolute;
  top: -140px;
  left: 0;

  padding: 5px 0 0 15px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 360px;
  height: 145px;
  transition: 0.7s;*/
}
