.painting {
  position: relative;
}

.paintingImage {
  width: 360px;
  height: 275px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
  @media screen and (max-width: 1157px) {
    width: 300px;
    height: 230px;
  }
  @media screen and (max-width: 768px) {
    width: 340px;
    height: 249px;
  }
  @media screen and (max-width: 736px) {
    width: 300px;
    height: 230px;
  }
  @media screen and (max-width: 320px) {
    width: 280px;
    height: 205px;
  }
}

.name {
  position: absolute;
  top: 250px;
  left: 0;
  padding: 5px 0 0 15px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 360px;
  height: 30px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.4s;
}

.nameBlog {
  @extend .name;
  top: 140px;
  height: 145px;
  cursor: pointer;
}
