body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  transition:
    color 500ms linear,
    background-color 200ms linear;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html[data-theme="dark"] {
  --button-text-color: #ffffff;
  --border: 1px solid #ffffff;
  --background-color: #000;
  --icon-color: #ffffff;
  --text: #ffffff;
  --line: rgba(255, 255, 255, 0.3);
  --hoverPage: #464646;
  --borderDisabled: 1px solid rgba(255, 255, 255, 0.3);
}

html[data-theme="light"] {
  --background-color: #ffffff;
  --border: 1px solid rgba(0, 0, 0, 0.3);
  --text: #000;
  --line: rgba(0, 0, 0, 0.3);
  --hoverPage: #ededed;
  --borderDisabled: 1px solid rgba(0, 0, 0, 0.3);
}
