@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button,
h3 {
  all: unset;
}

.AccordionTrigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  width: 265px;
  height: 45px;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    width: 220px;
    height: 45px;
  }
  @media screen and (max-width: 768px) {
    width: 160px;
    height: 45px;
  }
  @media screen and (max-width: 320px) {
    width: 280px;
    height: 45px;
  }

  .label {
    margin-left: 15px;
  }

  .AccordionChevron {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    margin-right: 15px;
  }

  &[data-state="open"] {
    border-bottom: none;
    border-radius: 6px 6px 0 0;
  }

  &[data-state="open"] > .AccordionChevron {
    transform: rotate(180deg);
  }
}

.AccordionContent {
  width: 265.5px;
  height: 85px;
  overflow: hidden;
  font-size: 15px;
  color: var(--mauve-11);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;

  .inputBlock {
    display: flex;
    justify-content: center;

    .input {
      width: 95px;
      height: 45px;
      border-radius: 8px;
      background: #efefef;
      border: none;
      margin-left: 10px;
      margin-top: 22px;
      margin-right: 9px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        padding-left: 15px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 13px;
      }
    }
  }
}
.dash {
  margin-top: 42px;
  background-color: black;
  width: 12px;
  height: 1px;
}
